.Tophalf {
  height: 100vh;
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navBar {
  border: 1px solid black;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  height: 60%;
  width: 40%;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 0px 20px 0px 20px;
  outline: none;
  font-size: 24px;
  text-align: center;
  font-weight: lighter;
  box-shadow: 0px 0px 10px white;
  transition: all 0.1s ease-in-out;
  caret-color: white;
  color: white;
}
.search:focus {
  box-shadow: 0px 0px 20px white;
}
.search:focus {
  border: none;
}
.search:focus::placeholder {
  color: transparent;
}

.search::placeholder {
  color: white;
  letter-spacing: 1px;
}
.content {
  height: auto;
  border: 1px solid red;
  width: 100%;
}

.map {
  flex:1;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map button {
  width: 25%;
  height: 100%;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease-in-out;
}

.map button:hover {
  cursor: pointer;
  transform: scale(1.25);
}
.currentLocation {
  flex:1;
  height: 80%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currentLocation h1 {
  font-size: 24px;
  padding-top: 20px;
  padding-left: 0px;
  font-weight: 400;
}

.content {
  display: flex;
  border: 1px solid greenyellow;
  height: 100%;
}

.left {
  flex: 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.weatherIcon {
  flex: 3;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.currentInfo {
  flex: 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 5%;
}

.right {
  flex: 2;
  border: 1px solid black;
}

.temp {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(38, 38, 38);
  border-radius: 25px 25px 0px 0px;
}
.lowHigh {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 14px;
  border: 1px solid white;
}

.otherInfo {
  flex: 1;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px 0px 25px 25px;
}
